.demo1 .outer{
  display: flex;
  justify-content: center;
  align-items: center
}

.demo2 .outer{
  position:relative;
}
.demo2 .inner{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
